* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menu a:hover,
.footer-nav a:hover {
    color: white;
}

body {
    background-color: #EEEEF7;
    overflow-x: hidden;
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-menu {
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 36px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 36px;
    align-items: center;
    flex-direction: row;
}

.menu {
    display: flex;
    gap: 82px;
}

.menu a,
.sign a {
    text-decoration: none;
    color: hsla(225, 27%, 63%, 1);
    font-size: 16px;
}

.sign div:last-child a {
    border: 1px solid #465B95;
    border-radius: 68px;
    padding: 10px 53px;
}

.sign {
    display: flex;
    align-items: center;
    gap: 40px;
    min-width: 251px;
}

.heading-box__item__text h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

.heading-box__item__text p {
    font-size: 18px;
    line-height: 150%;
    color: hsla(225, 27%, 63%, 1);
    margin-top: 15px;
    margin-bottom: 64.5px;
}

.heading-box__item a {
    width: 238px;
    height: 50px;
    background: #EF2A82;
    border-radius: 68px;
    padding: 14px 80px;
    text-decoration: none;
    color: white;
}

.heading-box {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 54px auto 0 auto;
    column-gap: 81px;
}

.heading-box__item:first-child {
    max-width: 550px;
    min-width: 400px;
    position: relative;
    bottom: 68px;
}

.heading-box__item:last-child {
    position: relative;
    width: 516px;
}

.heading-box__item:last-child img:last-child {
    position: absolute;
    left: -71px;
    top: 122px;
}

.features {
    text-align: center;
    max-width: 1180px;
    margin: 76px auto 0 auto;
    padding: 0 20px;
}

.features h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #172755;
    margin-bottom: 37px;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

.features-text {
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.features__flexbox {
    display: flex;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
    gap: 20px;
}

.features__flexbox__item {
    width: 380px;
    height: 164px;
}

.features__flexbox__item h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #172755;
    margin-top: 26px;
    margin-bottom: 15px;
}

.features__flexbox__item p:last-of-type {
    font-size: 16px;
    line-height: 140%;
    color: #8794BA;
}

.screenshots {
    max-width: 1180px;
    margin: 130px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0 20px;
}

.screenshots__item {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.screenshots__item img {
    width: 600px;
    height: 410px;
}

.screenshots__item__text {
    width: 480px;
}

.screenshots__item__text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #172755;
}

.screenshots__item__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
    margin-top: 30px;
}


.pricing__container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
}

.pricing-header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.pricing-header p {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8794BA;
    max-width: 660px;
    margin: 30px auto 80px auto;
    display: block;
}

.pricing__container__flexbox {
    display: flex;
    gap: 80px;
    max-width: 1180px;
    justify-content: center;
}

.pricing__container__flexbox__item {
    width: 340px;
    height: 440px;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    z-index: 1;
    background: #0F1F4B;
    opacity: 0.7;
}

.pricing__container__flexbox__item:hover {
    transition-duration: 0.2s;
    background: white;
    opacity: 1;
}

.pricing__container__flexbox__item:hover .plan-name h3 {
    color: #172755 !important;
}

.pricing__container__flexbox__item:hover .price h3 {
    color: #172755 !important;
}

.pricing__container__flexbox__item:hover .order-button {
    background-color: #EF2A82 !important;
    border: none !important;
}

.pricing__container__flexbox__item article:first-child h3:first-of-type,
.pricing__container__flexbox__item article:first-child h3:first-of-type {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.pricing__container__flexbox__item article:first-child p:last-child,
.pricing__container__flexbox__item article:first-child p:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
}

.price h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: white;
    margin-top: 46px;
}

.middle-text p:last-child {
    font-size: 18px;
    line-height: 150%;
    color: #8794BA
}

.price p:last-child {
    font-size: 16px;
    line-height: 140%;
    color: #8794BA;
}

.order-button {
    text-decoration: none;
    color: white;
    padding: 16px 84px;
    border-radius: 68px;
    border: 1px solid #2A407C;
    margin-top: 5px;
    display: inline-block;
}

.pricing__container__flexbox__item article:first-child {
    padding-top: 50px;
    padding-bottom: 37px;
    border-bottom: 1px solid #2A407C;
    width: 220px;
    margin: 0 auto;
}

.price,
.price-middle {
    margin-top: 28px;
    margin-bottom: 40px;
}

.price span,
.price-middle span {
    font-size: 60px;
}

.pricing__container__flexbox__item article:first-child p:last-child {
    margin-top: 15px;
}

.pricing {
    margin-top: 418px;
    background-color: #172755;
}

.sign-up__container__item1 p:first-child {
    margin: 47px 0 75px 5px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
}

.sign-up__container__item1 p:last-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989A2;
}

.sign-up {
    padding-top: 109px;
    position: relative;
    background: aliceblue;
    padding-bottom: 156px;
}

.sign-up__countainer {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
    padding: 0 20px;
}

.sign-up__container__item1,
.sign-up__container__item2 {
    width: 481px;
}

.sign-up__container__item2 {
    position: relative;
    height: 484px;
}

.form-layer {
    position: absolute;
    top: 24px;
}

.clint-logos {
    display: flex;
    width: 301px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 60px;
    margin-top: 54px;
}

.trusted-by {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989A2;
    padding-left: 24px;
    padding-right: 36px;
}

.line {
    display: inline;
    position: relative;
    bottom: 4px;
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 40px;
    gap: 16px;
    position: absolute;
    top: 0px;
    left: 5%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgb(137 137 162 / 12%)
}

.sign-up__form h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #160637;
}

.sign-up__form button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #722ED1;
    border: none;
    padding: 12px 105px;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up__form input {
    width: 348px;
    height: 51px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.help-us {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.have-acc {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8989A2;
}

.have-acc a {
    text-decoration: none;
    color: #722ED1;
}

.sign-up input {
    padding: 16px;
}

footer {
    background-color: #1F2F5C;
    padding: 64px 20px 60px 20px;
}

.footer-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 36px;
}

.footer-nav a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #8794BA;
}

.footer-social {
    display: flex;
    gap: 40px;
}

.footer-nav,
.footer-social {
    z-index: 10;
}

.footer-social img {
    color: #000000;
}

.pricing {
    position: relative;
    padding-bottom: 158px;
}

.pricing::before {
    background: url(/recourses/images/wave.svg) center top no-repeat;
    bottom: 100%;
    content: '';
    height: 425px;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.pricing::after {
    background: url(/recourses/images/Rectangle-7.svg) center bottom no-repeat;
    bottom: 100%;
    content: '';
    height: 270px;
    position: absolute;
    width: 100%;
    background-size: cover;
    transform: rotate(-180deg);
    z-index: -1;
}

header::before {
    background: url(/recourses/images/wave.svg) center top no-repeat;
    content: '';
    height: 2202px;
    position: absolute;
    width: 100%;
    background-size: cover;
    transform: rotate(180deg);
    top: 0%;
    background-size: cover;
    z-index: -1;
}

header::after {
    background: url(/recourses/images/Rectangle-7.svg) center top no-repeat;
    bottom: 100%;
    content: '';
    height: 323px;
    position: absolute;
    width: 100%;
    background-size: cover;
    top: 485px;
    z-index: -2;
}

.substract {
    position: absolute;
    right: 0;
    top: -48px;
}

.substract-small {
    position: absolute;
}

.footer-social svg {
    color: #8794BA;
    height: 20px;
}

.footer-social a:hover svg {
    color: white;
}

.input-focus:focus {
    border: 1px solid green;
    outline: none;
}

.rating {
    border-bottom: 1px solid #8989A2;
    width: 100%;
    padding-bottom: 16px;
}

input:focus {
    outline: none;
}

.checked {
    color: orange;
}


.chart-mobile {
    display: none;
}


.menu-icon {
    display: none;
}

.sign a:hover {
    color: white;
}

.logo {
    z-index: 1;
}

.sign div:last-child a:hover {
    background-color: white;
    color: #172755;
    border: none;
    transition-duration: 0.2s;
}

.pricing-heading-text h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}

.pricing-heading-text {
    padding: 0 20px;
}

.heading-box__item:first-child {
    padding-left: 20px;
}

@media (max-width: 375px) {
    body {
        width: 375px;
    }

    .heading-box__item:last-child img:last-child {
        display: none;
    }

    .main-chart {
        display: none;
    }

    .chart-mobile {
        display: block;
    }

    .heading-box {
        flex-direction: column-reverse;
    }

    .heading-box__item:first-child {
        min-width: 375px;
    }

    .heading-box__item:last-child {
        min-width: 375px;
    }

    .features__flexbox {
        flex-direction: column;
    }

    .features__flexbox__item {
        max-width: 375px;
        height: 164px;
        display: flex;
        gap: 28px;
        text-align: start;
        padding: 0 20px;
    }

    .screenshots__item img {
        width: 375px;
        height: fit-content;
    }

    .screenshots__item:first-child,
    .screenshots__item:last-child {
        flex-direction: column;
    }

    .screenshots__item:nth-child(2) {
        flex-direction: column-reverse;
    }

    .screenshots__item__text {
        width: 375px;
    }

    .pricing__container__flexbox__item {
        min-width: 280px;
        background: white;
        opacity: 1;
    }

    .pricing__container__flexbox {
        width: 100%;
        justify-content: normal;
        gap: 20px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border-bottom: none;
        padding-bottom: 44px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pricing__container__flexbox::-webkit-scrollbar {
        display: none;
    }

    .pricing__container__flexbox__item .plan-name p:first-child {
        color: #172755 !important;
    }

    .pricing__container__flexbox__item .price p:first-child {
        color: #172755 !important;
    }

    .pricing__container__flexbox__item .order-button {
        background-color: #EF2A82 !important;
        border: none !important;
    }

    .sign-up__container__item1 {
        display: none;
    }

    .form-layer {
        display: none;
    }

    .sign-up__form {
        width: 375px;
        position: static;
    }

    .sign-up__form button {
        padding: 13px 0;
        width: 335px;
    }

    .sign-up__form input {
        width: 335px;
    }

    .footer-nav {
        display: none;
    }

    .substract {
        display: none;
    }

    .substract-small {
        display: none;
    }

    .heading-box__item__text h1 {
        font-size: 31px;
    }

    .sign div:last-child {
        display: none;
    }

    .sign {
        min-width: 0;
    }

    .heading-box__item:last-child {
        position: relative;
        width: 0;
    }

    .heading-box {
        margin-top: 29px;
    }

    .heading-box__item:first-child {
        bottom: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-menu {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 4px 4px #12214D;
        padding-bottom: 20px;
    }

    .heading-box__item a {
        width: 100%;
        padding: 14px 128px;
    }

    header::before {
        top: 0;
        height: 2560px;
    }

    header::after {
        top: 590px
    }

    main {
        margin-top: 150px;
    }

    .features {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .features__flexbox {
        gap: 0;
    }

    .features h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .screenshots__item__text h2 {
        font-size: 30px;
    }

    .screenshots__item__text {
        padding: 0 20px;
    }

    .screenshots {
        gap: 20px;
        margin-top: 40px;
    }

    .screenshots__item {
        gap: 20px;
    }

    .screenshots__item__text p {
        margin-top: 20px;
    }

    .pricing {
        margin-top: 220px;
    }

    .pricing__container__flexbox__item {
        height: 358px;
    }

    .pricing__container__flexbox__item article:first-child {
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .price p:first-child {
        margin-top: 0;
    }

    .price,
    .price-middle {
        margin-top: 34px;
        margin-bottom: 30px;
    }

    .order-button {
        margin-top: 0;

    }

    .sign-up {
        padding-top: 34px;
        padding-bottom: 35px;
    }

    footer {
        padding: 36px 20px 37px 20px;
    }

    .features-text {
        margin-bottom: 10px;
    }

    .pricing__container::after {
        content: '';
        width: 335px;
        border-bottom: 1px solid #2A407C;
        height: 0px;
        position: absolute;
        left: 20px;
    }

    .menu ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }


    .menuListActive {
        display: block !important;
        position: absolute !important;
        float: none !important;
        top: 80px !important;
        left: 0;
        z-index: 10 !important;
        width: 100% !important;
        background-color: #172755 !important;
    }

    .menuListActive li {
        text-align: center;
        border-bottom: 1px solid #2A407C;
        padding: 15px 0;
    }

    .menu .logo img {
        width: 138px;
    }

    .sign {
        position: relative;
        left: 45px;
    }

    .pricing-header h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }

    .pricing-header p {
        text-align: left;
    }

    .pricing-header {
        padding: 0 20px;
    }

    .pricing__container__flexbox__item .plan-name h3 {
        color: #172755 !important;
    }

    .pricing__container__flexbox__item .price h3 {
        color: #172755 !important;
    }
}